li.menu-item {
  cursor: default;
  float:  left;
  font-weight: 500;
  list-style-type: none;
  padding: 0px 15px 3px 15px;
}

li.menu-item:hover {
  background-color: #00a800;
}

.menu-item-active {
  background-color: #00a800;
}

.red {
  color: #af0000;
}

.hidden {
  display: none;
}

button, button:active, button:focus {
  background: none;
  border: none;
  padding: 1%;
  font-family: 'VT323';
  font-size: 15pt;
}
