.button, .button:focus {
  background-color: #00aa00;
  box-shadow: 8px 8px 0px rgba(5, 5, 5, .9);
  padding: 1px 30px 1px 30px;
}
.button:active {
  box-shadow: none;
  margin: 25px 0px 0px 20px;
}
.label {
  color: #fff;
  text-align: center;
}
