
.window {
  background-color: rgb(185, 178, 185);
  box-shadow: 15px 15px 0px rgba(10, 10, 5, .8);
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .window {
    box-shadow: none;
    font-size: 0.8em;
    width: 100%;
  }

  .window-wrap {
    padding: 3% !important;
  }
}

.window-title {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  background: rgb(185, 178, 185);
  cursor: default;
  text-transform: uppercase;
  padding: 0px 10px 0px 10px;
}

.window-border1 {
  border: 2px solid #fff;
  border-width: 2px 1px 2px 1px;
  overflow: hidden;
}

.window-border2 {
  border: 2px solid #fff;
  border-width: 2px 2px 1px 2px;
  overflow: hidden;
}

.window-wrap {
  cursor: default;
  color: #111;
  font-size: 1.2em;
  padding: 3%;
}